 @tailwind base;
@tailwind components;
@tailwind utilities;

/* any custom css below */
.menu-item {
  display: block;
  padding: 10px 14px;
  border-radius: 6px;
  background: #2d3748;
  transition: 0.2s;
}

.menu-item:hover {
  background: #4a5568;
}
